* {
	box-sizing: border-box;
	font-family: "Trebuchet MS", Helvetica, sans-serif
}

.container {
	font-size: 16px;
}

.container h1 {
	font-size: 175%;
}

.container h2 {
	font-size: 125%;
}

section {
	background-color: #D3D3D3;
	padding: 10px;
	margin: 10px;
	border: 2px solid;
	position: relative;

}

section p {
	padding-top: 20px;
}

h1 {
	text-align: center;
	margin-bottom: 50px; 
}

h2 {
	border: 2px solid black;
	position: absolute;
	right: 0;
	top: 0;
	margin: 0;
	margin-top: -2px;
	margin-right: -2px;
	padding: 5px;
	padding-left: 30px;
	padding-right: 30px;
}

#chicken {
	background-color: PaleVioletRed; 
	
}

#beef {
	background-color: #E05252;
	color: white;
}

#sushi {
	background-color: #D2B48C;
	
}


@media (min-width: 992px) {
	.col-lg-4 {
		float: left;
		width: 33%;
		position: relative;

	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6 {
		float: left;
		width: 50%;
		position: relative;
	}
	.col-md-12 {
		float: left;
		width: 100%;
	}
}

@media (max-width: 767px) {
	.col-sm-12 {
		float: left;
		width: 100%;
		position: relative;

	}
}